<!-- Footer -->
<footer id="foot" class="text-center text-white">
  <!-- Grid container -->
  <span id="name">FC Barcelona</span>
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="d-inline me-5 fs-4">FIND OUT THE LATEST</section>
    <section class="ms-5 mb-4 d-inline">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating me-4" href="#!" role="button"
        ><i class="bi bi-facebook fw-bold" style="font-size: 25px"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating me-4" href="#!" role="button"
        ><i class="bi bi-twitter-x fw-bold" style="font-size: 25px"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating me-4" href="#!" role="button"
        ><i class="bi bi-youtube fw-bold" style="font-size: 25px"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating me-4" href="#!" role="button"
        ><i class="bi bi-instagram fw-bold" style="font-size: 25px"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © FC Barcelona - Official Store - Spotify Camp Nou
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
