#header{
    position: fixed;
    width: 99%;
    height: 30px;
    background: linear-gradient(to bottom left,#EF4765, #FF9A5A);
    display: flex;
    align-items: center;
    padding: 0px;
}
ul,li{
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
li{
    min-width: 200px;
    text-align: center;
    font-size:20px ;
}

footer{
    position: relative;
    top: 80px;
    min-height: 300px;
    background-color: #232F3E;
  }
#core{
    position: relative;    
    top: 60px;
    display: flex;
}
a:link ,a:visited{
    color: black;
  }