section > section > div{
    max-height: 75vh;
}
img{
    transition: transform .3s;
}
img:hover{
    transform: scale(1.1);
}
#icons{
    right: 3%;
}
/* .container-fluid{
    background-image: url("/assets/images/Barca Logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */