<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner vh-100 vw-100">
    <section
      id="sec1"
      class="carousel-item active w-100 position-relative h-100"
      data-bs-interval="4000"
    >
      <a class="btn btn-outline-warning"> Go to Store</a>
    </section>
    <section
      id="sec2"
      class="carousel-item w-100 h-100"
      data-bs-interval="4000"
    >
      <a class="btn btn-outline-warning"> Go to Store</a>
    </section>
    <section
      id="sec3"
      class="carousel-item w-100 h-100"
      data-bs-interval="4000"
    >
      <a class="btn btn-outline-warning"> Go to Store</a>
    </section>
  </div>
</div>
