<div
  id="carouselExampleSlidesOnly"
  class="carousel slide vh-100 container-fluid p-0"
  data-bs-ride="carousel"
>
  <div class="carousel-inner h-100 w-100">
    <section
      id="sec1"
      class="carousel-item active w-100 position-relative h-100"
      data-bs-interval="2000"
    >
      <section>
        <p class="display-5 text-warning">23/24</p>
        <p class="text-light display-3">KITS</p>
        <a class="btn btn-outline-warning p-2" [routerLink]="['products']">
          Go to Store <i class="bi bi-arrow-right"></i
        ></a>
      </section>
    </section>
    <section
      id="sec2"
      class="carousel-item w-100 h-100"
      data-bs-interval="2000"
    >
      <section>
        <p class="display-5 text-warning">23/24</p>
        <p class="text-light display-3">KITS</p>
        <a class="btn btn-outline-warning p-2" [routerLink]="['products']">
          Go to Store <i class="bi bi-arrow-right"></i
        ></a>
      </section>
    </section>
    <section
      id="sec3"
      class="carousel-item w-100 h-100"
      data-bs-interval="2000"
    >
      <section>
        <p class="display-5 text-warning">23/24</p>
        <p class="text-light display-3">KITS</p>
        <a class="btn btn-outline-warning p-2" [routerLink]="['products']">
          Go to Store <i class="bi bi-arrow-right"></i
        ></a>
      </section>
    </section>
  </div>
</div>
